<a href="https://colab.research.google.com/github/mk7ossen/introduction_to_programming_with_python/blob/main/06_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum_of_series(start,stop,step_size):
  sum = 0
  for i in range(start,(stop +1),step_size):
    num = i
    sum = sum + num
    # print(f" i is now {i}")
  print(sum)

In [ ]:
sum_of_series(1,100,2)

2500

In [ ]:
# building a function
def evenly_divisable(a,b):
  if a%b == 0:
   print(f" {a} is evenly divisable by {b}.")
  else:
    print(f"{a} is not evenly divisable by {b}")

In [ ]:
evenly_divisable(10,3)

10 is not evenly divisable by 3

In [ ]:
# factorial n; n! using for loop
def factorial(n):
  facto = 1
  for i in range(1,(n + 1)):
    facto = facto * i
  return facto

In [ ]:
factorial(1)

1

In [ ]:
len(str(factorial(1000)))

2568

In [ ]:
# factorial n; n! using while
def factorial_w(n):
  facto = 1
  while n >= 1:
    facto = facto * n
    n = n - 1
  return facto

In [ ]:
factorial_w(0)

1

In [ ]:
def cartesian_distance(x1,y1,x2,y2):
  distance = ((x2 - x1)**2 + (y2 - y1)**2) ** (1/2)
  return distance

In [ ]:
cartesian_distance(0,20,0,0)

20.0