<a href="https://colab.research.google.com/github/mk7ossen/introduction_to_programming_with_python/blob/main/09_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Finalized
number_of_students = int(input("Enter the number of students: "))
students_grades_list = []


for students in range(number_of_students):

  student_name = input(f'Enter the name of student {students + 1}: ')
  grades = input(f'Enter the grades for {student_name} (separated by spaces): ')

  grade_points = list(map(float, grades.split()))
  student_profile = [student_name, grade_points]
  students_grades_list.append(student_profile)

print("\n\n")


for item in students_grades_list:

  print(item)
  student_name = item[0]
  grade_points = item[1]

  def calculate_average():
    avg_grade = sum(grade_points) / len(grade_points)
    return avg_grade

  def determine_pass_fail():
    avg_grade = sum(grade_points) / len(grade_points)
    if avg_grade > 60:
      status = "Pass"
    else:
      status = "Fail"
    return status

  def find_highest_lowest():
    highest = max(grade_points)
    lowest = min(grade_points)
    high_low_tuple = (highest, lowest)
    return high_low_tuple

  print(f'Student: {student_name}')
  print(f'Average Grade: {calculate_average()}')
  print(f'Status: {determine_pass_fail()}')
  print(f'Highest Grade: {find_highest_lowest()[0]}')
  print(f'Lowest Grade: {find_highest_lowest()[1]}')
  print("\n\n")

Enter the number of students: 3
Enter the name of student 1: rakesh
Enter the grades for rakesh (separated by spaces): 30 40 50 23 21 54
Enter the name of student 2: jogesh
Enter the grades for jogesh (separated by spaces): 78 86 75 90 87 60 68 94
Enter the name of student 3: ratul
Enter the grades for ratul (separated by spaces): 56 76 87 56 76 99 87 56



['rakesh', [30.0, 40.0, 50.0, 23.0, 21.0, 54.0]]
Student: rakesh
Average Grade: 36.333333333333336
Status: Fail
Highest Grade: 54.0
Lowest Grade: 21.0



['jogesh', [78.0, 86.0, 75.0, 90.0, 87.0, 60.0, 68.0, 94.0]]
Student: jogesh
Average Grade: 79.75
Status: Pass
Highest Grade: 94.0
Lowest Grade: 60.0



['ratul', [56.0, 76.0, 87.0, 56.0, 76.0, 99.0, 87.0, 56.0]]
Student: ratul
Average Grade: 74.125
Status: Pass
Highest Grade: 99.0
Lowest Grade: 56.0

In [ ]:
for item in students_grades_list:

  print(item)
  student_name = item[0]
  grade_points = item[1]

  def calculate_average():
    avg_grade = sum(grade_points) / len(grade_points)
    return avg_grade

  def determine_pass_fail():
    avg_grade = sum(grade_points) / len(grade_points)
    if avg_grade > 60:
      status = "Pass"
    else:
      status = "Fail"
    return status

  def find_highest_lowest():
    highest = max(grade_points)
    lowest = min(grade_points)
    high_low_tuple = (highest, lowest)
    return high_low_tuple

  print(f'Student: {student_name}')
  print(f'Average Grade: {calculate_average()}')
  print(f'Status: {determine_pass_fail()}')
  print(f'Highest Grade: {find_highest_lowest()[0]}')
  print(f'Lowest Grade: {find_highest_lowest()[1]}')
  print("\n\n")

['Tomy', [30.0, 40.0, 50.0, 23.0, 21.0, 54.0]]
Student: Tomy
Average Grade: 36.333333333333336
Status: Fail
Highest Grade: 54.0
Lowest Grade: 21.0



['Jimy', [78.0, 86.0, 75.0, 90.0, 87.0, 60.0, 68.0, 94.0]]
Student: Jimy
Average Grade: 79.75
Status: Pass
Highest Grade: 94.0
Lowest Grade: 60.0



['Tulona', [34.0, 54.0, 64.0, 75.0, 76.0, 88.0]]
Student: Tulona
Average Grade: 65.16666666666667
Status: Pass
Highest Grade: 88.0
Lowest Grade: 34.0



['Ratul', [56.0, 76.0, 87.0, 56.0, 76.0, 99.0, 87.0, 56.0]]
Student: Ratul
Average Grade: 74.125
Status: Pass
Highest Grade: 99.0
Lowest Grade: 56.0



['Nahid', [45.0, 67.0, 87.0, 56.0, 45.0, 78.0, 99.0, 80.0]]
Student: Nahid
Average Grade: 69.625
Status: Pass
Highest Grade: 99.0
Lowest Grade: 45.0

In [ ]:
number_of_students = int(input("Enter the number of students: "))
for students in range(number_of_students):
  student_name = input(f'Enter the name of student {students + 1}: ')
  grades = input(f'Enter the grades for {student_name} (separated by spaces): ')

  grade_points = map(float, grades.split())
  grade_points = list(grade_points)



  avg_grade = sum(grade_points) / len(grade_points)
  if avg_grade > 60:
    status = "Pass"
  else:
    status = "Fail"

  print(f"Student: {student_name}")
  print(f"Average Grade: {avg_grade}")
  print(f"Status: {status}")
  print(f"Highest Grade: {max(grade_points)}")
  print(f"Lowest Grade: {min(grade_points)}")

Enter the number of students: 2
Enter the name of student 1: rakesh
Enter the grades for rakesh (separated by spaces): 40 59 70 80 90 95
Student: rakesh
Average Grade: 72.33333333333333
Status: Pass
Highest Grade: 95.0
Lowest Grade: 40.0
Enter the name of student 2: tipu
Enter the grades for tipu (separated by spaces): 60 70 87 68 90 98
Student: tipu
Average Grade: 78.83333333333333
Status: Pass
Highest Grade: 98.0
Lowest Grade: 60.0

In [ ]:
def calculate_average():
  avg_grade = sum(grade_points) / len(grade_points)
  return avg_grade

In [ ]:
def determine_pass_fail():
    if avg_grade > 60:
    status = "Pass"
  else:
    status = "Fail"
  return status

In [ ]:
def find_highest():
  highest = max(grade_points)
  return highest


def find_lowest():
  lowest = min(grade_points)
  return lowest

In [ ]:
calculate_average()

78.83333333333333

In [ ]:
print(grade_points)

[34.0, 57.0, 68.0, 90.0, 56.0]

In [ ]:
grades = input(f'Enter the grades for {student_name} (separated by spaces): ')

Enter the grades for  (separated by spaces): 80 75 70 65

In [ ]:
grade_points = grades.split()
grade_points
list_length = len(grade_points)
for i in range(list_length):

# x = float(grades[0])
# y = float(grades[1])

['80', '75', '70', '65']

In [ ]:
# name_grades_dict = { f"{student_name}": f"{grades}", }
# print(name_grades_dict)

{'tipu': '60 70 87 68 90 98'}

In [ ]:
number_of_students = int(input("Enter the number of students: "))
for students in range(number_of_students):
  student_name = input(f'Enter the name of student {students + 1}: ')
  grades = input(f'Enter the grades for {student_name} (separated by spaces): ')

  grade_points = map(float, grades.split())
  grade_points = list(grade_points)

  name_grades_list = []
  student_name + students "_results" = {f"{student_name}": f"{grade_points}"}
  name_grades_list.append(student_name + students "_results")
print(len(name_grades_list))
print()
  def calculate_average():
  avg_grade = sum(grade_points) / len(grade_points)
  return avg_grade

  def determine_pass_fail():
    if avg_grade > 60:
      status = "Pass"
    else:
      status = "Fail"
    return status

  def find_highest():
    highest = max(grade_points)
    return highest


  def find_lowest():
    lowest = min(grade_points)
    return lowest

In [ ]:
number_of_students = int(input("Enter the number of students: "))
name_grades_list = []
for students in range(number_of_students):
  student_name = input(f'Enter the name of student {students + 1}: ')
  grades = input(f'Enter the grades for {student_name} (separated by spaces): ')

  grade_points = map(float, grades.split())
  grade_points = list(grade_points)

  # dynamic_student_name = student_name
  dynamic_student_name = {f"{student_name}": f"{grade_points}"}
  name_grades_list.append(dynamic_student_name)

print(len(name_grades_list))
print(name_grades_list)
print(dynamic_student_name)

Enter the number of students: 4
Enter the name of student 1: robin
Enter the grades for robin (separated by spaces): 30 40 50 23 21 54
Enter the name of student 2: ratin
Enter the grades for ratin (separated by spaces): 78 86 75 90 87 60 68 94
Enter the name of student 3: josef
Enter the grades for josef (separated by spaces): 34 54 64 75 76 88
Enter the name of student 4: angela
Enter the grades for angela (separated by spaces): 45 67 87 56 45 78 99 80
4
[{'robin': '[30.0, 40.0, 50.0, 23.0, 21.0, 54.0]'}, {'ratin': '[78.0, 86.0, 75.0, 90.0, 87.0, 60.0, 68.0, 94.0]'}, {'josef': '[34.0, 54.0, 64.0, 75.0, 76.0, 88.0]'}, {'angela': '[45.0, 67.0, 87.0, 56.0, 45.0, 78.0, 99.0, 80.0]'}]
{'angela': '[45.0, 67.0, 87.0, 56.0, 45.0, 78.0, 99.0, 80.0]'}

In [ ]:
for i in name_grades_list:

  print(i)
print()
print()
print()
print()


"""
  def calculate_average():
    avg_grade = sum(grade_points) / len(grade_points)
    return avg_grade

  def determine_pass_fail():
    if avg_grade > 60:
      status = "Pass"
    else:
      status = "Fail"
    return status

  def find_highest():
    highest = max(grade_points)
    return highest


  def find_lowest():
    lowest = min(grade_points)
    return lowest

  print(f'Student: {student_name}')
  print(f'Average Grade: {calculate_average}')
  print(f'Status: {determine_pass_fail}')
  print(f'Highest Grade: {find_highest}')
  print(f'Lowest Grade: {find_lowest}')
  """

{'robin': '[30.0, 40.0, 50.0, 23.0, 21.0, 54.0]'}
{'ratin': '[78.0, 86.0, 75.0, 90.0, 87.0, 60.0, 68.0, 94.0]'}
{'josef': '[34.0, 54.0, 64.0, 75.0, 76.0, 88.0]'}
{'angela': '[45.0, 67.0, 87.0, 56.0, 45.0, 78.0, 99.0, 80.0]'}

'\n  def calculate_average():\n    avg_grade = sum(grade_points) / len(grade_points)\n    return avg_grade\n\n  def determine_pass_fail():\n    if avg_grade > 60:\n      status = "Pass"\n    else:\n      status = "Fail"\n    return status\n\n  def find_highest():\n    highest = max(grade_points)\n    return highest\n\n\n  def find_lowest():\n    lowest = min(grade_points)\n    return lowest\n\n  print(f\'Student: {student_name}\')\n  print(f\'Average Grade: {calculate_average}\')\n  print(f\'Status: {determine_pass_fail}\')\n  print(f\'Highest Grade: {find_highest}\')\n  print(f\'Lowest Grade: {find_lowest}\')\n  '

In [ ]:
number_of_students = int(input("Enter the number of students: "))
for students in range(number_of_students):
  student_name = input(f'Enter the name of student {students + 1}: ')
  grades = input(f'Enter the grades for {student_name} (separated by spaces): ')

  grade_points = map(float, grades.split())
  grade_points = list(grade_points)

  name_grades_list = []
  # dynamic_student_name = student_name
  dynamic_student_name = {f"{student_name}": f"{grade_points}"}
  name_grades_list = name_grades_list.append(dynamic_student_name)

# print(len(name_grades_list))
print(name_grades_list)
print(dynamic_student_name)